/* ==================================================================


	::::::::::
	::::  ::::
	::::  ::::
	::::  ::::
	:::::::::: SQUARE 1


================================================================== */


/* ==================================================================
CSS Reset
================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol{
	/*list-style: none;*/
margin-left: 14px;
	margin-top: 8px;
}
ul {
	/*list-style: none;*/
	margin-left: 20px;
	margin-bottom: 10px;
	display: inline-block;
	float: left;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==================================================================
Basic Document Styles
================================================================== */

body {
	line-height: 1;
	color: #333333;
	font: 13px/24px "Open Sans", Helvetica, Arial, sans-serif;
	/*background: #ffffff;*/
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	overflow: hidden;
	background: url(../images/introBG3.jpg) center center no-repeat fixed;
	width: 100%;
	height: 100%;
}

input,
select,
textarea { font: 13px/24px "Open Sans", Helvetica, Arial, sans-serif; 
}

.clearfix:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	font-size: 0;
}

.clearfix { 
	display: inline-block; 
	*zoom: 1;
}

* html .clearfix { 
	height: 1%;
}

.clearfix {
	display: block;
}

.clear {
	clear: both;
	display: block;
	font-size: 0px;
	height: 0px;
	line-height: 0;
	width: 100%;
	overflow:hidden;
}

::selection {
    background: #8fc73e;
    color: #fff;
}

::-moz-selection {
    background: #8fc73e /* Firefox */
    color: #fff;
}

::-webkit-selection {
	background: #8fc73e; /* Safari */
	color: #fff;
}

/* ==================================================================
Typography
================================================================== */

h1 {
	font-size: 50px;
	line-height: 58px;
	font-weight: 300;
	color: #333333;
}

h2 {
	font-size: 28px;
	line-height: 34px;
	font-weight: 300;
	margin-bottom: 30px;
}

h3 {
	font-size: 16px;
	line-height: 34px;
	color: #555555;
	margin-bottom: 0px;
	font-weight: 600;
}
h3 .c1 {
	font-size: 16px;
	line-height: 34px;
	color: #8fc73e;
	margin-bottom: 0px;
	font-weight: 600;
}
h3 .c2 {
	font-size: 16px;
	line-height: 34px;
	color: #00b7ce;
	margin-bottom: 0px;
	font-weight: 600;
}
h4 {
	color: #555555;
	font-size: 16px;
	font-weight: 400;
}

p {
	margin-bottom: 10px;
}

sup {
	font-size: 9px;
}

a, a > * {
	color: #76ab28;
	text-decoration: none;
	-webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, padding .3s ease;
	   -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, padding .3s ease;
	    -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, padding .3s ease;
	     -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, padding .3s ease;
	        transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, padding .3s ease;
	font-weight: bold;
}

a:hover, a > *:hover {
	color: #363636;
	text-decoration: none;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

/* ==================================================================
Basic Layout Styles
================================================================== */

.text-left {
	text-align: left !important;
}

.text-right { 
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.clear {
	clear: both;
}

.all-margin {
	margin: 20px !important;
}

.left-margin {
	margin-left: 20px !important;
}

.right-margin {
	margin-right: 20px !important;
}

.top-margin {
	margin-top: 20px !important;
}

.bottom-margin {
	margin-bottom: 20px !important;
}

.no-margin {
	margin: 0 !important;
}

.no-left-margin {
	margin-left: 0 !important;
}

.no-right-margin {
	margin-right: 0 !important;
}

.no-top-margin {
	margin-top: 0 !important;
}

.no-bottom-margin {
	margin-bottom: 0 !important;
}

.disabled,
.disabled i {
	color: #eaeaea !important;
}

.custom-icon-list li i {
	float: left;
	font-size: 14px;
	margin-top: 5px;
	color: #333333;
	padding-right: 15px;
}

.custom-icon-list li p {
	margin-left: 30px;
}

.button {
	background: url(../images/buttonArrow.png) right no-repeat #8fc73e;
	padding: 6px 30px 6px 10px;
	display: inline-block;
	/*text-transform: uppercase;*/
	font-weight: 700;
	color: #ffffff;
	font-weight: 700;
	cursor: pointer;
	margin-top: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.button:hover {
	color: #ffffff;
	background: #000000;
}

#ref {
	font-size: 8px;
	line-height: 10px;
	overflow: visible;
}

.blocker {
	display: inline-block;
}
.blocker2 {
	display: inline-block;
	width: 100%;
}
footer {
	position: relative;
	left: 0;
	margin: 50px 10px 0 0 !important;
	font-size: 10px;
	line-height: 14px;
	bottom: 0;
	display: inline-block;
}
footer.rev{
	color: white;
	text-align: left;
	position: relative;
	
	display: inline-block;
	margin: 0;
}
/* ==================================================================
Progress Bar
================================================================== */

.progress {
	height: 40px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 10px;
}

.progress .bar {
	background: #c2c2c2 !important;
	line-height: 40px;
	text-align: left;
	text-indent: 15px;
	font-style: italic;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
	-webkit-transition: background-color .3s ease;
	   -moz-transition: background-color .3s ease;
	    -ms-transition: background-color .3s ease;
	     -o-transition: background-color .3s ease;
	        transition: background-color .3s ease;
}

.progress:hover .bar {
	background: #8fc73e !important;
}

/* ==================================================================
Forms
================================================================== */

input, textarea, select {
	background: #e6e7e8 !important;
	-webkit-appearance: none;
	color: #959595 !important;
	border: none !important;
	width: 100%;
	padding: 10px 20px !important;
	margin: 0px !important;
	font-style: italic;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	height: auto !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	margin-bottom: 20px !important;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	-webkit-transition: background-color .3s ease, color .3s ease !important;
	   -moz-transition: background-color .3s ease, color .3s ease !important;
	    -ms-transition: background-color .3s ease, color .3s ease !important;
	     -o-transition: background-color .3s ease, color .3s ease !important;
	        transition: background-color .3s ease, color .3s ease !important;
}

textarea {
	width: 100%;
	padding: 10px 20px;
	resize: both;
	margin-top: 0px;
	font-style: italic;
	
}
	
input:hover, textarea:hover, select:hover {
	background: #e1e1e1 !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border: none !important;
}
	
input:focus, textarea:focus, select:focus {
	background: #8fc73e;
	color: #ffffff;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border: none !important;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

input[type="submit"], button, a.button {
	text-transform: none;
	width: auto;
	margin-top: 20px;
	font-style: normal;
	font-weight: normal;
	background: #8fc73e !important;
	color: #ffffff !important;
	cursor: pointer;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

input[type="submit"] {
	padding: 6px 10px !important;
}

input[type="submit"]:hover, button:hover, a.button:hover {
	background: #252525 !important;
}

select, option {
	cursor: pointer;
}

input[type="checkbox"] {
	-webkit-appearance: checkbox;
}

input[type="radio"] {
	-webkit-appearance: radio;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #b0b0b0; }

input:-moz-placeholder, textarea:-moz-placeholder { color: #b0b0b0; }

input.placeholder, textarea.placeholder { color: #b0b0b0; }

/* ==================================================================
Preloader
================================================================== */

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 999;
}

#loading-animation {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading-animation.gif); 
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}

/* ==================================================================
Main Navigation
================================================================== */

a.logo {
	margin: 15px 0 0 20px;
	float: left;
}

nav#main-nav {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	width: 100%;
	height: 60px;
	background: #8fc73e;
	min-width: 300px;
}

nav#main-nav ul {
	float: right;
	margin-right: 10px;
}

nav#main-nav ul li {
	float: left;
	display: inline-block;
	line-height: 14px;
}

nav#main-nav ul li a {
	color: #333333;
	text-transform: uppercase;
	padding: 20px 20px;
	display: inline-block;
}

nav#main-nav ul li a.active {
	color: #ffffff;
}

body.no-intro nav#main-nav {

}

/* ==================================================================
Responsive Navigation
================================================================== */
#homeNav {
	height: 60px;
	background: #8fc73e;
	width: 100%;
	
	display: inline-block;
	left: 0;
	color: white;
}
#homeNav ul{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	float: none;
	font-size: 18px;
	color: white;
	margin-top: 15px;
}
#homeNav li{
	list-style: none;
	color: white;
	padding-right: 15px;
	float: left;
	padding-left: 15px;
}
#homeNav li a{
	color: white;
}
#homeNav li a:hover{
	color: black;
}

#main-nav #responsive-nav {
	display: none;
	float: right;
	width: 50px;
	height: 50px;
	background: #333333;
	text-align: center;
	line-height: 50px;
}

#main-nav #responsive-nav:hover i {
	color: #ffffff;
}

#main-nav .responsive-nav {
	margin-bottom: 20px;
	padding: 10px;
}

/* ==================================================================
Sections
================================================================== */

section {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 50;
	overflow: auto;
	background: #f2f2f2;
	
}

section .container {
	padding-top: 110px;	
}
#intro .container {
	padding-top: 50px;
	/*margin-right: 25%;
	margin-left: 25%;*/
	width: 100%;
	display: inline-block;
	
}
section > .container {
	padding-bottom: 40px;
}

/* ==================================================================
Intro
================================================================== */
#intro, #prod, #about, #contact {
	min-height: 600px;
}

#intro {
	background: url(../images/introBG2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/background.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/background.jpg', sizingMethod='scale')";
	text-align: center;
	padding-top: -50px;
	
}

#intro h1 {
	font-size: 60px;
	color: #111111;
	margin-bottom: 0px;
	line-height: 80px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: 700;
}

#intro h1 span {
	color: #8fc73e;
}
#introCon {
	display: inline-block;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	float: none;
	margin-top: 20px;
}
#intro h2 {
	color: #000000;
	padding-top: 20px;
	padding-bottom: 0px;
	margin-right: 10%;
	margin-left: 10%;
}
#intro #iphone {
	float: left;
	padding-right: 0px;
	margin-top: 0px;
}
#intro #introText {
	
	text-align: left;
	padding-left: 20px;
	font-size: 15px;
	color: black;
	float: left;
	display: inline-block;
	width: 400px;
}
.get-started img{
	position: relative;
	top: 5px;
}
.get-started {
	position: relative;
	margin: 20px 0px;
	display: block;
	text-align: center;
	width: 130px;
	padding: 10px 5px;
	background-color: #ffffff;
	color: #00b7ce;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.get-started i {
	color: #111111;
	margin-left: 10px;
	
}

.get-started:hover {
	color: #ffffff;
	background: #00b7ce;
}

.get-started:hover i {
	color: #00b7ce;
}
#press img{
	top: 5px;
	position: relative;
}
#press h5{
	margin-bottom: 5px;
}

#press a{
	color: white;
}
#press a:hover{
	color: black;
	font-weight: bold;
}
#press{
	font-weight: bold;
	line-height: 18px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmYzczZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iIzhmYzczZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ZmM3M2UiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(143,199,62,1) 0%, rgba(143,199,62,1) 66%, rgba(143,199,62,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,199,62,1)), color-stop(66%,rgba(143,199,62,1)), color-stop(100%,rgba(143,199,62,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(143,199,62,1) 0%,rgba(143,199,62,1) 66%,rgba(143,199,62,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(143,199,62,1) 0%,rgba(143,199,62,1) 66%,rgba(143,199,62,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(143,199,62,1) 0%,rgba(143,199,62,1) 66%,rgba(143,199,62,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(143,199,62,1) 0%,rgba(143,199,62,1) 66%,rgba(143,199,62,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc73e', endColorstr='#008fc73e',GradientType=0 ); /* IE6-8 */
	
	padding: 10px 20px 40px;
	margin-bottom: 20px;
	display: inline-block;
	position: relative;
	margin-top: 10px;
}
#subnav {
	font: normal normal 12px/24px "Open Sans", Helvetica, Arial, sans-serif;
	padding-top: 60px;
	text-align: right;
	/*letter-spacing: -1px;*/
}
#subnav li{
	list-style: none;
	padding-right: 20px;
	float: right;
}
#subnav li.active{
	background: url(../images/logoIcon.png) right no-repeat;
}
#subnav li a{
	color: #000000;
}
#subnav li a:hover, #subnav li.active a{
	color: #8fc73e;
}
/* ==================================================================
About
================================================================== */

#about {
	background-image: url(../images/prodBG.jpg);
}

#about #building{
	margin-top: 40px;
	display: inline-block;
	position: relative;
	margin-bottom: 20px;
}
#about #building img{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 0;
	margin-top: 50px;
}
.bio {
	display: inline-block;
}
.bio .span2{
	margin: 10px 0 0;
}
.bio h3{
	height: 24px;
}
.bio h4{
	font-weight: bold;
	margin-top: 0;
}
.bioPic {
	float: left;
}
.bioText {
	display: inline-block;
	float: right;
}
.news {
	display: inline-block;
}
/*#join {
	margin-top: 10px;
}*/
#about #join{
	margin-top: 10px;
	display: inline-block;
	position: relative;
	margin-bottom: 20px;
}
#about #join img{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 0;
	margin-top: 50px;
}
/* ==================================================================
product
================================================================== */

#product{
	background-image: url(../images/prodBG.jpg);
}
#product #iphone2 {
	float: left;
	padding-right: 20px;
	margin-top: -10px;
	width: 250px;
}
#product #photo {
	float: left;
	padding-right: 20px;
	margin-top: 10px;
	display: inline-block;
}
#product #photo img{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

}
#product #screen {
	float: left;
	padding-right: 20px;
	margin-top: 10px;
	
}
#product #screen img{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

}
#chartContainer {
	
	display: inline-block;
}
#chartm {
	display: none;
	
}
/* ==================================================================
News
================================================================== */
#news{
	background-image: url(../images/prodBG.jpg);
}
#news a .news{
	color: #000000 !important;
}
#news a:hover .news{
	color: #8fc73e !important;
}
/* ==================================================================
Contacts
================================================================== */

#contacts {
	background-image: url(../images/prodBG.jpg);
}
#contacts .container{
	
}
#contacts #sender{
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
	float: left !important;
	margin-top: 20px !important;
}
#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	display: none;
}

#map img {
	max-width: none;
}
.contact-info img{
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.contact-info {

	padding: 40px;
	position: relative;
	z-index: 100;
	margin-bottom: 30px;
	margin-right: 40px;
	width: 200px;
}

form.contact-form {
	background: #ffffff;
	padding: 40px;
	position: relative;
	z-index: 50;
}
form .check {
	display: inline-block;
	position: relative;
	margin: 0 !important;
	padding: 0 !important;
	float: left;
}
form .checktext {
	display: inline-block;
	position: relative;
	font-size: 12px;
	line-height: 18px;
	margin-left: 20px;
	float: right;
	margin-top: -15px;
}

form.contact-form textarea {
	height: 140px !important;
	
}

.form-error {
	background: #fcdcdc !important;
}